footer{
    background: #002d62;
    color:#fff;
   
}

footer .max-largura h2 {
    margin-right: 30px;
}
footer .max-largura{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    display: flex;
}
footer .max-largura .institucional{
   margin-top: auto;
   margin-left: auto;
   font-size: 13px;
}
footer .max-largura .institucional .social{
    display: flex;
    margin-bottom: 20px;
}
footer .max-largura .institucional .social a{
    border: #fff 2px solid;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}
footer ul:nth-of-type(even){
    margin-left: 50px;
}
footer ul{
    list-style: none;
    margin-left: 20px;
}
footer ul li a{
    text-decoration: none;
    color:#fff;
    line-height: 1.5;
    font-size: 13px;
}

footer ul li:first-child{
    margin-bottom: 20px;
    font-weight: bold;
    list-style: circle;
}