header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff;
    height: 90px;
    align-items: center;
    margin-top: 40px;
    border-radius: 2px;
    margin-bottom: 40px;
}

header h1{
    color: #1a7855;
    margin: 0 70px 0 20px;
}

nav.menu-nav{
    color: #2da77a;
    margin-right: auto;
}

nav.menu-nav a{
    color: #2da77a;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.9s;
}

nav.menu-nav a:hover{
    color: #1a7855;
    text-decoration: underline;
}

nav.login-nav a:first-child{
    background: #2da77a;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    transition: all 0.9s;
}
nav.login-nav a:last-child{
    background: #002d62;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.9s;
}
nav.login-nav a:first-child:hover{
    background: #1a7855;
}
nav.login-nav a:last-child:hover{
    background: #004597;
}